
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color:#202043;
    text-align: center;
    font-family: Roboto;
    letter-spacing: 3px;
}

h1 {
    color: rgb(255, 75, 15);
    margin-top: 5%;
    margin-bottom: 5%;
}
#div-container {
    position: relative;
    background-color: rgb(196, 171, 171);
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    border-radius: 10px;
    min-height: 280px;
    margin-bottom: 5%;
    color: blue;
}




#div-newTodo {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
}
#div-newTodo input {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    width: 94%;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(223, 223, 223);
}
#div-newTodo button {
    border-top-right-radius: 10px;
    float: right;
    box-sizing: border-box;
    width: 5%;
    height: 40px;
    background-color: #9E00FF;
    border: none;
}
#div-newTodo button:hover {
    cursor: pointer;
    background-color: rgb(196, 171, 171);
}
#div-newTodo button:hover #plus {
    color: #9E00FF;
}
#div-newTodo button i {
    color: white;
    font-size: 30px;
}






.div-todo {
    width: 100%;
    text-align: left;
    margin-top: 8px;
    padding: 0;
}
.div-todo input {
    box-sizing: border-box;
    width: 88%;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(223, 223, 223);
}
/* div todo 2 for the counter element ----- because if i let the  .div-todo name that will cause an error on this fun checkExistingElements()*/
.div-todo2 {
    width: 100%;
    text-align: left;
    margin-top: 8px;
    padding: 0;
}
.div-todo2 input {
    box-sizing: border-box;
    width: 88%;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(223, 223, 223);
}

.check {
    margin-right: 8px;
    float: left;
    box-sizing: border-box;
    width: 5%;
    height: 40px;
    background-color: #9E00FF;
    border: none;
    transition: .8s ease-in-out 0s;
}
.fa-check {
    display: none;
    color: white;
    font-size: 25px;
}
.check:hover {
    cursor: pointer;
    transform: scale(0.8);
}


.clear {
    float: right;
    box-sizing: border-box;
    width: 5%;
    height: 40px;
    background-color: #9E00FF;
    border: none;
}
.clear:hover {
    cursor: pointer;
    background-color: rgb(196, 171, 171);
}
.fa-trash {
    color: white;
    font-size: 25px;
}
.clear:hover .fa-trash {
    color: #9E00FF;
}



#counter {
    margin-top: 200px;
}
#counter input {
    border-bottom-left-radius: 10px;
    width: 89%;
}
#counter button {
    border-bottom-right-radius: 10px;
    float: right;
    box-sizing: border-box;
    width: 10%;
    height: 40px;
    background-color: #9E00FF;
    border: none;
}
#counter button:hover {
    cursor: pointer;
    background-color: rgb(196, 171, 171);
}
#counter button:hover span {
    color: #9E00FF;
}
#counter button span {
    color: white;
    font-size: 19px;
}





/* You can do changes but i don't want because i will forget if i get back after a month so let everything 
    (float: right;
    box-sizing: border-box;
    height: 40px;
    background-color: #9E00FF;
    border: none;)*/